
        <section id="grid">
            <div class="container large-bottom-margin">
                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="small-bottom-padding">Travel Onward!</h2>
                        <h3 class="small-bottom-padding">This page uses <a href="http://www.bobrosslipsum.com/" target="_blank">Bob Ross Lorem Ipsum</a></h3>
                        <h4 class="underline small-bottom-padding">Made By Victoria!</h4>

                    </div>
                </div>

                <!-- Answer this Question: What is Your Project-->


                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="blue-text">What is my project and what makes it awesome?</h3>
                        <h5 class="blue-text">Answer this one for sure!</h5>                    </div>
                </div>
                <div class="full-width">
                    <div class="small-margin small-padding round-corners light-blue-background">

                        <p>My project is called Travel Onward and it is a website designed for tourists. It allows you to see what the most popular places in your area are and it also allows you to "bookmark" places so you can make a list of places that you would like to visit. In addition, it also shows information of the place, such as address, name, and category. This website is made to make your trip the best it can be and to provide you with information about the "must-see" places wherever you travel!</p>
                    </div>  
                </div>

                <div class="full-width blue-underline small-top-padding"></div>

                <!-- Optional 1: How Your Idea Came to Be Question-->
                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="purple-text">How did you come up with your idea?</h3>
                        <h5 class="purple-text">Pick one more...maybe this one?</h5>
                    </div>
                </div>

                <div class="full-width">
                    <div class="small-margin small-padding round-corners light-purple-background">

                        <p>I came up for the idea of Travel Onward because I love to travel. Sometimes when I travel, I don't know where to go or where/what the best places to visit are. Travel Onward could help others explore new places and ensure that tourists have an amazing trip they'll remember forever!</p>

                        <p>For example, if someone were to travel to New York City, and they didn't know where to visit, they could go to Travel Onward and view the most popular attractions in NYC, such as the Empire State Building and the Museum of Modern Art. Travel Onward could also show you the highest rated restaurants around NYC if you're feeling hungry! New York pizza is the best!</p>


                    </div>
                </div>

                <div class="full-width purple-underline small-top-padding"></div>




                <!-- Optional 2: Table Structure Question-->

                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="pink-text">What is your table structure?</h3>
                        <h5 class="pink-text">Pick one more...maybe this one?</h5>
                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-pink-background">
                        <p>My first table is about my users. In the Users table, each user has a username, a name, and a user id. In my Places table, each place has an address, place id, city, name, category, and zipcode. In the bookmarks table, it lists the user id and the place id. The relationships in my data are: Users have many places, places have many users, bookmarks belong to a user, and bookmarks belong to a place.</p>

                        <p></p>
                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-pink-background">
                        <img src="#" style="height: 400px;" />
                        <h5 class="pink-text">Maybe take a picture and add it here?  This could be a caption.  Add the picture to the assets folder and change the source on the image tag from '#' to the path and name of the image. </h5>
                    </div>
                </div>

                <div class="full-width pink-underline small-top-padding"></div>




                <!-- Optional 4: What Will You Do For Your Project Next? -->

                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="blue-text">What is the next step?</h3>
                        <h5 class="blue-text">Pick one more...maybe this one?</h5>
                    </div>
                </div>
                <div class="fulll-width">
                    <div class="small-margin small-padding round-corners light-green-background">

                      <p>In the future, I would like to add a maps feature where you can see how to get to a place that you want to go to and it would list the directions on how to get there. In addition, I would also like to add a "friends" feature where you can plan a trip with friends. If you were traveling to NYC, after you create a list on our website of places you would like to go, you could tag your friends that have an account to help plan the trip with you. Also, I would like to include a description of the attraction so that people know what the place is and what you can do there. Lastly, I would like to be able to show what others think of the attraction. After users go to the attraction or when they finish their trip, they could rate the attraction, one star if it was a terrible place to go, and five stars if it was the best place you have ever been to! I would also like to make it possible to be able to be able to search for places by zipcode so you can get a more precise search for places. These are the features that I would add to my website! </p>

                    </div>
                </div>

                <div class="full-width blue-underline small-top-padding"></div>


  <!-- This is the end of the div and section - don't delete! -->


                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="small-bottom-padding">This Project was made for SheQL</h2>
                        <p class="small-bottom-padding">SheQL is a free, 10 week course offered to high school girls, femmes, and non-males in the Summer of 2017 by <a href="http://omahagirlswhocode.com/" target="_blank">Mystery Code Society</a> and supported with materials and space by the <a href="https://omahalibrary.org/location/
                        milton-r-abrahams-branch-blog/" target="_blank">Abrahams Branch library</a>.</p>
                        <p>This project was built using Ruby, Postgres, ActiveRecord, and Sinatra.</p>
                        <p>If you think these sites are beautiful, that is thanks to a custom front-end framework by Cara Heacock (puzzalea on github). We are so lucky to have her!</p>

                        <img src="/assets/sheql.png"  />
                    </div>
                </div>

            </div>
        </section>

